{% extends 'base.html' %}
{% load static %}
{% block head %}
    {% csrf_token %}
    <title>研究方向</title>
    <script type="text/javascript" src="{% static 'js/self/footer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/self/researchField.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/self/researchField.css' %}">
{% endblock head %}
{% block body %}
    <div class="head_photo_cover">
        <img class="head_photo" src="{% static 'img/top.png' %}">
    </div>
    <div class="content">
        <div class="breadcrumb_navigation">
            <img class="svg_location" src="{% static 'svg/location.svg' %}"></img>
            <label class="current">当前位置：</label>
            <a class="breadcrumb_item" href="{% url 'LabWebApp:main' %}">首页</a>
            <label class="next">&nbsp;&gt;&nbsp;</label>
            <a class="breadcrumb_item" href="{% url 'LabWebApp:researchField' %}">学术研究</a>
            <label class="next">&nbsp;&gt;&nbsp;</label>
            <a class="breadcrumb_item" href="">研究方向</a>
        </div>
        <div class="content_inner">
            <div class="content_title">研究方向</div>
            <div class="content_subtitle">Research Field</div>
            <div class="split_content"></div>
        </div>
    </div>
{% endblock body %}